#files created by the makefile
build/dlla.o
build/farrayimp1D.o
src/farrayimp1d.mod
src/dlla.mod
libdir/libfarray.a
build/

#driver program
driva.cpp
driva.exe

#owner's personal notes
ideadlla.txt
.clangd
